@font-face {
  font-family: "iconfont"; /* Project id 2805740 */
  src: url('iconfont.woff2?t=1640570515116') format('woff2'),
       url('iconfont.woff?t=1640570515116') format('woff'),
       url('iconfont.ttf?t=1640570515116') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add:before {
  content: "\e665";
}

.icon-add-circle:before {
  content: "\e666";
}

.icon-browse:before {
  content: "\e667";
}

.icon-bottom:before {
  content: "\e668";
}

.icon-zhanghu:before {
  content: "\e60e";
}

.icon-shezhi:before {
  content: "\e60f";
}

.icon-guanli:before {
  content: "\e632";
}

.icon-sousuo:before {
  content: "\e605";
}

.icon-guanli1:before {
  content: "\e6fd";
}

.icon-kuozhan:before {
  content: "\e820";
}

.icon-wenjian:before {
  content: "\e615";
}

.icon-suoxiao:before {
  content: "\e63b";
}

.icon-guanbi:before {
  content: "\e608";
}

.icon-chuangkou:before {
  content: "\e664";
}

.icon-daohuotongzhi:before {
  content: "\e66c";
}

